<%- include("partials/header.ejs") %>
  <%- include("partials/navbar.ejs") %>
  <form action="/sendregister" method="POST">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nome</label>
      <input name="name" type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Historia</label>
      <textarea class="form-control" name="history" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Pronto!</button>
  </form>
<%- include("partials/footer.ejs") %>
